<html>

    <head>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>

            <table>
                    <tr>
                        <td><a href="/"><h1>Home</h1></a></td>
                        <td><a href="listtasks"><h1>List All Task</h1></a></td>
                        <td><a href="updateTask"><h1>Update Task</h1></a></td>
                    </tr>
            </table>

            <form action="/data" method="POST">

                Task Name:
                <input type="text" name="TaskName" /> </br>

                Assign To:
                <input type="text" name="assign" /> </br>

                Task Due:
                <input type="date" name="TaskDue" /> </br>

                Task Description
                <input type="text" name="TaskDes"> </br>

               <button> Submit</button>

            </form>

    </body>

</html>